<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>login</h1>
    
    
  <%- include('comman/header')%>
    <% arr.map((item,index)=>{%>
        <h1>
            <%= item.name%>
        </h1>
        <h3>
            <%= item.class%>
        </h3>
        <h3>
            <%= item.address%>
        </h3>


        <%})%>
</body>
</html>